* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --cell-size: 3vw;
}

body {
    background-color: rgb(229, 231, 235);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: cadetblue;
}


.main {
    display: flex;
    gap: 5rem;
}

.winner,
.entry {
    padding: 2rem;
    margin: auto;
    font-size: 3rem;
}

.dock-wrapper {
    display: flex;
    gap: 2rem;
}

.dock {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.rotated {
    display: flex;
}

.draggable {
    flex: 0 0 auto;
    cursor: grab;
}

.dragged-over {
    background-color: cornflowerblue;
}

.gameboard {
    width: calc(var(--cell-size)*10);
    height: calc(var(--cell-size)*10);
    display: flex;
    flex-wrap: wrap-reverse;
    border-collapse: collapse;
    border: 0.5px solid black;
    box-sizing: content-box;

}

.cell {
    border: 0.5px solid black;
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: calc(var(--cell-size)*0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* align-items: center; */
}


.cell+.mouseover {
    /* background-color: rgb(175, 175, 175); */
    border: 1px solid black;
}

.ship {
    background-color: chartreuse;
}

.shot {
    background-color: lightskyblue;
}

.hit+.shot {
    background-color: crimson;
}

.hit+.shot+.sunk {
    border: black solid 5px;
}